services:
  gds:
    stop_signal: SIGINT
    stop_grace_period: 3s
    container_name: fprime-gds
    user: user
    environment:
      - TERM=xterm-256color
      - FORCE_COLOR=1
    build:
      context: .
      dockerfile: Dockerfile
      args:
          - HOST_UID=${HOST_UID:-1000}
          - HOST_GID=${HOST_GID:-1000}
          - progress=plain
    image: ${FSW_IMG:-mbse}
    command: $DEFAULT_GDS_COMMAND
    working_dir: ${DEPLOYMENT_ROOT}
    volumes:
      - ${SCRIPT_DIR:-.}:${FSW_WDIR}
    network_mode: host
    healthcheck:
      test: ["CMD-SHELL", "pgrep fprime-gds"]
      interval: 2s
      timeout: 3s
      retries: 25
      start_period: 3s
  fsw:
    stop_grace_period: 1s
    container_name: fprime-fsw
    build:
      context: .
      dockerfile: Dockerfile
      args:
          - HOST_UID=${HOST_UID:-1000}
          - HOST_GID=${HOST_GID:-1000}
          - progress=plain
    image: ${FSW_IMG:-mbse}
    working_dir: ${DEPLOYMENT_ROOT}
    environment:
        - GEVENT_SUPPORT=True
        - UPLINK_TARGET_PORT=$UPLINK_TARGET_PORT
        - FPRIME_CONFIG_DIR=$FSW_WDIR/FlightComputer/config
        - SSH_AUTH_SOCK=/ssh-agent
        - PATH=/home/user/STARS/autocoder:/home/user/.local/bin:${PATH} # TODO should check is necessary
        - TERM=xterm-256color
        - FORCE_COLOR=1
    volumes:
      - ${SCRIPT_DIR:-.}:${FSW_WDIR}
    network_mode: host   # uses the host's network stack
    security_opt:
      - seccomp:unconfined
    cap_add:
      - SYS_NICE
      # For gdbserver's addr space randomization
      - SYS_PTRACE
    ulimits:
      rtprio: 99
    healthcheck:
      test: ["CMD-SHELL", "pgrep FlightComputer"]
      interval: 2s
      timeout: 3s
      retries: 25
      start_period: 5s
    depends_on:
      gds:
        condition: service_healthy
        restart: true
